<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NesneLabDeneme1.Properties.Settings.myFirtsDBConnectionString"
            connectionString="Data Source=myFirtsDB.mssql.somee.com;Initial Catalog=myFirtsDB;User ID=kacarberke_SQLLogin_1;Password=vgb5g6e8cb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>